# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [2]:
# import libraries
import numpy as np
import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import dataset
# pokemon = pd.read_csv(r'your-code\Pokemon.csv')

pokemon = pd.read_csv(r'\Users\Cristiana\Desktop\IRONHACK BOOTCAMP\Week2\Labs\lab-dataframe-calculations\your-code\Pokemon.csv')
display(pokemon)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### Print first 10 rows of `pokemon`.

In [4]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
# your code here
both_types = pokemon[["Type 1", "Type 2"]]

np.array(both_types)

array([['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ['Grass', 'Poison'],
       ...,
       ['Psychic', 'Ghost'],
       ['Psychic', 'Dark'],
       ['Fire', 'Water']], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [6]:
# your code here

pokemon['Name'].unique()

pokemon['Name'] = pokemon['Name'].str.replace(".*(?=Mega)", " ", regex=True)

# test transformed data
# pokemon.head(10)
pokemon.sample(40)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
29,24,Arbok,Poison,NaN,438,60,85,69,65,79,80,1,False
194,180,Flaaffy,Electric,NaN,365,70,55,55,80,60,45,2,False
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
184,170,Chinchou,Water,Electric,330,75,38,38,56,56,67,2,False
362,331,Cacnea,Grass,NaN,335,50,85,40,85,40,35,3,False
419,381,Latios,Dragon,Psychic,600,80,90,80,130,110,110,3,True
332,306,Aggron,Steel,Rock,530,70,110,180,60,60,50,3,False
281,259,Marshtomp,Water,Ground,405,70,85,70,60,70,50,3,False
164,150,Mega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
400,365,Walrein,Ice,Water,530,110,80,90,95,90,65,3,False
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True
133,124,Jynx,Ice,Psychic,455,65,50,35,115,95,95,1,False
668,607,Litwick,Ghost,Fire,275,50,30,55,65,55,20,5,False
634,573,Cinccino,Normal,NaN,470,75,95,60,65,60,115,5,False
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
289,266,Silcoon,Bug,NaN,205,50,35,55,25,25,15,3,False
628,567,Archeops,Rock,Flying,567,75,140,65,112,65,110,5,False
590,531,Audino,Normal,NaN,445,103,60,86,60,86,50,5,False
229,212,Mega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False
111,103,Exeggutor,Grass,Psychic,520,95,95,85,125,65,55,1,False
54,49,Venomoth,Bug,Poison,450,70,65,60,90,75,90,1,False
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
722,654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
358,327,Spinda,Normal,NaN,360,60,60,60,60,60,60,3,False
579,520,Tranquill,Normal,Flying,358,62,77,62,50,42,65,5,False
167,153,Bayleef,Grass,NaN,405,60,62,80,63,80,60,2,False
537,480,Uxie,Psychic,NaN,580,75,75,130,75,130,95,4,True
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False
352,322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
177,163,Hoothoot,Normal,Flying,262,60,30,30,36,56,50,2,False
481,433,Chingling,Psychic,NaN,285,45,30,50,65,50,45,4,False
627,566,Archen,Rock,Flying,401,55,112,45,74,45,70,5,False
456,411,Bastiodon,Rock,Steel,495,60,52,168,47,138,30,4,False
12,9,Mega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
442,397,Staravia,Normal,Flying,340,55,75,50,40,40,80,4,False
221,206,Dunsparce,Normal,NaN,415,100,70,70,65,65,45,2,False
148,137,Porygon,Normal,NaN,395,65,60,70,85,75,40,1,False
264,245,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [7]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack'] / pokemon['Defense']

pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667
796,719,Mega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667

#### Identify the pokemon with the highest `A/D Ratio`.

In [8]:
# your code here
print(pokemon['A/D Ratio'].max())

condition1 = pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max()
condition1
pokemon.loc[condition1]

9.0

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [9]:
# your code here
print(pokemon['A/D Ratio'].min())

condition2 = pokemon['A/D Ratio'] == pokemon['A/D Ratio'].min()
condition2
pokemon.loc[condition2]
# pokemon.loc[condition2]['Name']

0.043478260869565216

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [10]:
# your code here

pokemon['Combo Type'] = pokemon[['Type 1', 'Type 2']].fillna('').agg(' '.join, axis=1)
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,1.103448,Fire
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False,1.076923,Fire Flying
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False,1.171171,Fire Dragon
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False,1.333333,Fire Flying
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,0.738462,Water

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [11]:
# your code here

# pokemon['A/D Ratio'].nlargest(n=5) 
# # this way also possible, but gives me just the column 'A/D Ratio' by index

pokemon = pokemon.sort_values(by=['A/D Ratio'], ascending=False).head(5)
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [12]:
# your code here

combotype_list = list(pokemon["Combo Type"].unique())
combotype_list

['Psychic ', 'Water Dark', 'Bug Poison', 'Rock ']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [15]:
# your code here

pokemon.select_dtypes(include=np.number).columns.tolist()

pokemon.groupby(["Combo Type"]).agg({'#':"mean",'Total':"mean",'HP':"mean",'Attack':"mean", 'Defense':"mean",'Sp. Atk':"mean",'Sp. Def':"mean",'Speed':"mean",'Generation':"mean",'A/D Ratio':"mean"}).reset_index()

,Combo Type,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,A/D Ratio
0,Bug Poison,15.0,495.0,65.0,150.0,40.0,15.0,80.0,145.0,1.0,3.750
1,Psychic,386.0,600.0,50.0,180.0,20.0,180.0,20.0,150.0,3.0,9.000
2,Rock,408.0,350.0,67.0,125.0,40.0,30.0,30.0,58.0,4.0,3.125
3,Water Dark,318.5,382.5,57.5,105.0,30.0,80.0,30.0,80.0,3.0,3.750